@model ContactModel
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Create Contact
    </div>
    <div class="card-body">
        <form asp-action="AddContact" asp-controller="Maintener" method="post">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Name" type="text" class="form-control">
               <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label  class="form-label">Phone</label>
                <input asp-for="Phone" type="text" class="form-control" >
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="text" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="ListContact" asp-controller="Maintener" class="btn btn-warning">Back to list</a>
        </form>
    </div>
</div>

